a, a:hover{
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}

body{
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    display : table;
    width: 100%;
}

h1{
    font-size: 2em;
}

.menu{
    padding-top: 25px;
    padding-left: 50px;
    z-index: 4;
}

.header{
    background: url("../img/space.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
    visibility: inherit;
    z-index: 4;
    position: relative;

}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;

}

.header-text{
    font-family: 'Ubuntu', cursive;
    text-align: center;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -300px;

}

.button-white{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    position: relative;
    z-index: 4;
}

.button-white:hover{
    background-color: white;
    color: black;
    transition: All 0.5s ease;
    position: relative;
    z-index: 4;
}

.button-invert{
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background-color: white;
    position: relative;
    z-index: 4;

}

.button-invert:hover{
    color: #ffffff;
    transition: All 0.5s ease;
    background-color: transparent;
    position: relative;
    z-index: 4;
}

.content{
    text-align: center;
    color: #000000;
    font-family: 'Ubuntu', cursive;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
}

.vpn1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.dns{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', cursive;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dns ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social{
    text-align: center;
    font-family: 'Ubuntu', cursive;
    color: #000000;
}

.social ul{
    list-style: none;
    display: inline-block;
}

.social ul li{
    display: inline-block;
}

.social img{
    margin-right: 10px;
    display: block;
    height: 50px;
}

.partners{
    font-family: 'Ubuntu', cursive;
    text-align: center;
    color: #000000;
}

.partners ul{
    list-style: none;
    display: inline-block;
}

.partners ul li{
    display: inline-block;
}

.partners img{
    margin-right: 10px;
    display: block;
    height: 30px;
}

.partner-small img{
    height: 80px;
}

.partner-large img{
    height: 50px;
}

.partners a{
    text-decoration: none;
}

footer {
    display : table-row;
    font-family: 'Ubuntu', cursive;
    text-align: center;

}

footer a{
    text-decoration: none;
    color: #bbbbbb;
    margin-right: 10px;
}

.mentions{
    font-family: 'Ubuntu', cursive;
    color: #222222;
    text-align: center;
}
